@CHARSET "UTF-8";

#first{
	
	border: 1px solid grey;
	height: 15em;
	width: 30em;
	border-radius: 10px;
	margin: auto;
}


#flag{
	height: 2em;
	width: 2em;
	border: 1px solid grey;
	 background-image: url("assets/images/flag.png");
	 margin-left: 0.5em;
	 margin-top: 0.5em;
}

#eurobg{
	color:black;
	height: 2em;
	width: 2em;
	font-size: 0.55em;
margin-left: 4.5em;
	 
}

#logo{
	background-image: url("assets/images/logo.png");
	height: 2em;
	width: 2em;
	border: 1px solid grey;
	float: right;
}